---
title: Mundo Real Idiomas
layout: layout
---

.row
  .span5
    <br/>
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          = image_tag "/images/inicios1.png"
        
        .item
          = image_tag "/images/ini1.png"
         
         
        .item
          = image_tag "/images/ini2.png"
         
        .item
          = image_tag "/images/ini3.png"
         
        .item
          = image_tag "/images/ini4.png"
          
        .item
          = image_tag "/images/ini5.png"
          
        .item
          = image_tag "/images/ini6.png"
          
        .item
          = image_tag "/images/ini7.png"
          
        .item
          = image_tag "/images/ini8.png"
        .tit
          <a href="/pages/promociones.html">Promociones 2014</a><br/>
        
          

  .span5
    .parini
      ¡BIENVENIDOS!<br>
      Te damos la bienvenda y te invitamos a que conozcas una forma dinámica de aprender idiomas de una manera fácil, divertida y en corto tiempo.<br/>
      %a{:href => "/pages/principiantes.html"}
        %img{:border=> "0", :src=> "/images/bprincipiantes1.png"}/
      %a{:href => "/pages/calendario.html"}
        %img{:border=> "0", :src=> "/images/binicios1.png"}/
      %a{:href => "/pages/porque.html"}
        %img{:border=> "0", :src=> "/images/bporque11.png"}/
      
      
       
         
        